@model Permission

<form id="permissionForm" method="post" action="@Url.Action(Model.PermissionId == 0 ? "Insert" : "Update", "Permission")">
    @if (Model.PermissionId != 0) // Só inclui o hidden se for edição
    {
        <input type="hidden" name="PermissionId" value="@Model.PermissionId" />
    }

    @if (PatsyLibrary.Services.DefaultPermissions.IsSystemPermission(Model.Name))
    {
        <div class="alert alert-warning" role="alert">
            Esta é uma permissão padrão do sistema e não pode ser editada.
        </div>
        <div class="mb-3">
            <label for="name" class="form-label fw-bold">Nome da Permissão</label>
            <input type="text" class="form-control border-primary shadow-sm" id="name" name="Name" value="@Model.Name" disabled />
        </div>
    }
    else
    {
        @if (Model.PermissionId == 0) // Apenas ao adicionar
        {
            <div class="mb-3">
                <label for="permissionId" class="form-label fw-bold">ID da Permissão</label>
                <input type="number" class="form-control border-primary shadow-sm" id="permissionId" name="permissionId" required min="0" max="999" />
                <small class="form-text text-muted">Escolha um ID único entre 0 e 999.</small>
            </div>

            <!-- Exibe os intervalos de IDs -->
            <div class="mb-3">
                <label class="form-label fw-bold">Intervalos de IDs</label>
                <ul class="list-group">
                    @foreach (var range in (Dictionary<string, string>)ViewData["PermissionRanges"])
                    {
                        <li class="list-group-item">@range.Key - @range.Value</li>
                    }
                </ul>
            </div>
        }

        <div class="mb-3">
            <label for="name" class="form-label fw-bold">Nome da Permissão</label>
            <input type="text" class="form-control border-primary shadow-sm" id="name" name="Name" value="@Model.Name" required />
        </div>
        <button type="submit" class="btn btn-success w-100">
            <i class="fas fa-save"></i> Salvar
        </button>
    }
</form>